__pycache__/
*.py[cod]
*$py.class

*.so

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
env/
ENV/
env.bak/
venv.bak/
.venv/
node_modules/

.env
.env.*
!.env.example
.flaskenv

instance/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
desktop.ini
